<h1>Star Wars API</h1>
<h2></h2>

<!-- Basic form for user to enter ID and category -->
<table>
  <tr>
    <td>Enter ID:</td>
    <td><input type='number' placeholder="Enter ID" min="1" max="5" [(ngModel)]="frmId"/> </td>
  </tr>
  <tr>
      <td>Select a category:</td>
      <td>
        <select [(ngModel)]="whichCategory" >
          <option *ngFor='let item of choices'>{{ item.cat }}</option>
        </select>
      </td>
    </tr>
    <tr>
        <td><button (click)="handleClick()">Submit</button></td>
      </tr>
</table>

<hr/>

<!-- Display the search results -->
<h3>Result</h3>

<!-- If the search works these will be filled -->
<div>Name = {{model.name}}</div>
<div *ngIf='whichCategory=="planets"'>
  Rotation period = {{model.rotation_period}}
</div>
<div *ngIf='whichCategory=="veichles"'>
  Model = {{model.model}}
</div>
<div *ngIf='whichCategory=="species"'>
  Classification = {{model.classification}}
</div>
<div *ngIf='whichCategory=="starships"'>
  Model = {{model.model}}
</div>
<div *ngIf='whichCategory=="people"'>
  Homeworld = <a href = {{model.homeworld}}>{{model.homeworld}}</a>
</div>
<!-- If search doesn't work, display this message -->
<div *ngIf='model==""'>
  Invaild search parameters
</div>

<!-- Display the successful API call as JSON -->
<pre>{{model | json}}</pre>
<hr/>

<!-- Button to click allowing user to view their search history -->
<button (click)='showSearch()'>Show search history</button>
<ul *ngIf='showFlag'>
  <li *ngFor='let item of searches'>{{item}}</li>
</ul>

